<div class='basic_design'>
    <h1> Recipe Home Page </h1>

    <nav class='recipe_right'>
        <p> <%= link_to "Available Recipes", user_recipes_path %> </p>
        <p> <%= link_to "View All Recipes", recipes_path %> </p>
        <p> <%= link_to "Create New Recipe", new_recipe_path %> </p>
        <p><%= link_to "Back to my profile", user_path(@current_user.id) %></p>
    </nav>
</div>

